*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --cor-primaria:#2A947E;
  --cor-Secundaria: #0FA756;
  --text-gray-600:#8f9393;
  --text-gray-100:#F2F2F2;
  --white: #fff;
  --black: #000;
  --background :linear-gradient(750deg,var(--cor-primaria), var(--cor-Secundaria));
}

body{
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

main{
  height: 24rem;
  width: 23rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  box-shadow: 0px 0px 10px -1px var(--black);
}

h1{
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

p{
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 100;
}

form{
  display: flex;
  flex-direction: column;
  width: 73%;
}

input, button{
  height: 3rem;
  width: 100%;
  padding: 1rem;
  margin: 0.5rem 0;
  border: none;
  outline: none;
}

input{
  background-color: var(--text-gray-100);
}

input::placeholder{
  color: var(--text-gray-600);
}

button{
  background-image: var(--background);
  color: var(--white);
  cursor: pointer;
}

button:hover{
  opacity: 0.9;
}

span{
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: var(--text-gray-600);
}

span a{
  color: var(--cor-Secundaria);
  text-decoration: none;
}

.msgSucesso{
  opacity: 0;
  visibility: hidden;
}

body.showSucess .msgSucesso{
  background-color: white;
  width: 23rem;
  height: 3rem;
  position: absolute;
  top: -7%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-left:4px solid var(--cor-primaria);
  border-radius: 5px;
  animation: drop 0.4s forwards;
  opacity: 1;
  visibility: visible;
}

.msgErro{
  opacity: 0;
  visibility: hidden;
}

body.showError .msgErro{
  background-color: white;
  width: 23rem;
  height: 3rem;
  position: absolute;
  top: -7%;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  border-left:4px solid rgb(222, 11, 0);
  border-radius: 5px;
  animation: drop 0.4s forwards;
  opacity: 1;
  visibility: visible;
}

@keyframes drop {
  from{
    top: -7%;
  }

  to{
    top: 5%;
  }
}

@media (max-width:425px) {
  main{
    width: 20rem;
  }

  body.showError .msgErro{
  width: 20rem;
}

p{
  font-size: 0.85rem;
}
}

@media (max-width:320px) {
  main{
    width: 18rem;
  }

  body.showError .msgErro{
  width: 18rem;
}

p{
  font-size: 0.8rem;
}
}